{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unbanking.ca</title>
    <!-- OpenGraph -->
    <meta property="og:title" content="Vote Now!" />
    <meta property="og:url" content="http://unbanking.ca/" />
    <meta property="og:image" content="{% static 'upvote/images/slide_1' %}" />
    <meta property="og:description" content="Starting in 2018, credit unions won’t be allowed to use the word ‘banking’ anymore. Help them choose a new word!" />
    <link rel="icon" type="image/png" href="{% static 'upvote/images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'upvote/images/favicon-16x16.png' %}" sizes="16x16" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'upvote/css/main.css' %}" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{% static 'upvote/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'upvote/js/infinite.min.js' %}"></script>
  </head>
  <body>
    {% include 'upvote/partials/messages.html' %}
    {% include 'upvote/partials/navigation.html' %}
    {% block content %}
    {% endblock %}
    {% include 'upvote/partials/footer.html' %}
    <script>
      var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
              $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
              $('.loading').hide();
          }
      });
    </script>
  </body>
</html>