{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unbanking.ca</title>
    <!-- OpenGraph -->
    <meta property="og:title" content="Vote Now!" />
    <meta property="og:url" content="http://unbanking.ca/" />
    <meta property="og:image" content="{% static 'upvote/images/slide_1.jpg' %}" />
    <meta property="og:description" content="Starting in 2018, credit unions won’t be allowed to use the word ‘banking’ anymore. Help them choose a new word!" />
    <link rel="icon" type="image/png" href="{% static 'upvote/images/favicon.ico' %}" sizes="16x16" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'upvote/images/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'upvote/images/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'upvote/images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'upvote/images/favicon-16x16.png' %}" sizes="16x16" />
    <meta name="application-name" content="Unbanking"/>
    <meta name="msapplication-TileColor" content="#4CAF76" />
    <meta name="msapplication-TileImage" content="{% static 'upvote/images/mstile-144x144.png' %}" />
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'upvote/css/main.css' %}" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/137a5a9211.js"></script>
    <script src="{% static 'upvote/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'upvote/js/infinite.min.js' %}"></script>
    <script src="{% static 'upvote/js/main.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102811259-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {% include 'upvote/partials/messages.html' %}
    {% include 'upvote/partials/navigation.html' %}
    {% block content %}
    {% endblock %}
    {% include 'upvote/partials/footer.html' %}
    <script>
      var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
              $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
              $('.loading').hide();
          }
      });
    </script>
  </body>
</html>