{% extends 'upvote/layout/base.html' %}

{% block content %}
  <section class="bg-white">
    <div class="container">
      <div class="row p-3">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
          <h3>One more step! Don't leave your suggestion to fend for itself, share it online to get more votes and rise to be crowned a Canadian hero!</h3>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-3">
          {% include 'upvote/partials/word_display.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}