{% extends 'upvote/layout/base.html' %}

{% block content %}
  <section class="bg-white">
    <div class="container">
      <div class="row p-3">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h3 class="text-cta">One more step! Don't leave your suggestion to fend for itself, share it online to get more votes and rise to be crowned a Canadian hero!</h3>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-3">
          {% include 'upvote/partials/word_display.html' %}
        </div>
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h3>It’s estimated that having to change over from the term "banking" will cost Canadian credit unions more than <strong>$80 million dollars</strong> for signage, printing and even naming changes. We think that is ridiculous.</h3>
        </div>
      </div>
    </div>
  </section>
{% endblock %}