<p>
    <form method="post" action="{% url 'upvote:index' %}">
        {% csrf_token %}
        {{ submission_form }}
        <input type="submit" value="Submit" />
    </form>
</p>
<p>
{% if top_submissions %}
    <ul>
        {% for submission in top_submissions %}
            <li>
                <a href="{% url 'upvote:detail' submission.word %}"> {{ submission.word }}</a>
                <form action="{% url 'upvote:vote' submission.word %}" method="post">
                    {% csrf_token %}
                    <a href="">{{ submission.vote_set.count }}</strong>
                    <input type="hidden" value="{{ submission.word }}" />
                    <button type="submit">Vote</button>
                </form>
                <a href="">Share</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Be the first to add your word!</p>
{% endif %}
</p>