{% extends 'upvote/layout/base.html' %}
{% load static %}

{% block content %}
  {% include 'upvote/partials/carousel.html' %}
  <section class="container-fluid bg-white">
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-12 col-md-8 offset-md-2">
          <span class=" mx-auto">
            <h1 id="subtext" class="text-uppercase">If that decision doesn’t get reversed, credit unions will have to come up with a new term. Will you help us choose one?</h1>
          </span>
          <form id="submission-form" method="post" action="{% url 'upvote:index' %}" class="form-group row my-4">
            {% csrf_token %}
              <div class="col-12 col-lg-8">
                {{ form }}
              </div>
              <div class="col-12 col-lg-4">
                <button type="submit" id="search-btn" class="btn text-uppercase">Submit your replacement for "banking"
                </button>
              </div>
            </form>
            <!--<div class="row">
              <div class="col">
                <a href="#most-popular" class="filter-titles">MOST POPULAR</a>
              </div>
              <div class="col">
                <a href="#most-recent" class="filter-titles">MOST RECENT</a>
              </div>
              <div class="col">
                <a href="#random" class="filter-titles">RANDOM</a>
              </div>
            </div>-->
            {% if top_submissions %}
              <div class="row px-3">
                <div class="col-12 infinite-container">
                  {% for submission in top_submissions %}
                    {% include 'upvote/partials/word_display.html' %}
                  {% endfor %}
                </div>
              </div>
              <div class="row bg-purple loading text-center" style="display: none;">
                <div class="col-12 pt-2 pl-4">
                  <h1>Loading...</h1>
                </div>
              </div>
              {% if top_submissions.has_next %}
                <div class="row">
                  <div class="col-12">
                    <div class=" mx-auto">
                      <a class="load-btn btn btn-lg infinite-more-link" href="?page={{ top_submissions.next_page_number }}">Load More</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% else %}
              <div class="row">
                <div class="col-12">
                  <p>Be the first to add your word!</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
{% endblock %}