{% load static %}

<footer class="container-fluid">
  <div class="row bg-grey pt-5 pb-5">
    <div class="col-12">
      <h1 id="subtext">BROUGHT TO YOU BY</h1>
        <div class="container-content">
          <div class="row">
            <div class="offset-sm-2"></div>
              <div class="col-sm-4">
                <img src="{% static 'upvote/images/CUmark_Logo_grey.png' %}" class="mx-auto  img-fluid logo-base-bottom"/>
              </div>
              <div class="col-sm-4">
                <img src="{% static 'upvote/images/Luminus_Horiz_grey.png' %}" class="mx-auto  img-fluid logo-base-bottom"/>
              </div>
            </div>
          <div class="offset-sm-2"></div>
        </div>
      </div>
    </div>
    <div class="row bg-purple pt-5 pb-5">
      <div class="col-12">
        <h1 id="carousel-text">To learn more about this new regulation, visit CCUA.com</h1>
      </div>
    </div>
</footer>