{% load static %}

<footer class="bg-purple">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12 text-white text-center">
        <h4>To learn more about this decision and how you can get it reversed, visit <a href="https://ccua.com/en" target="_blank">CCUA.com</a></h4>
      </div>
      <div class="col-12 pt-3 text-center text-white">
        <p><strong>Disclaimer:</strong> unbanking.ca is not affiliated with the Canadian Credit Union Association or the Office of the Superintendent of Financial Institutions (OSFI). We are simply advocates for Canadian credit unions and we believe that credit unions should be exempt from this legislation. Plus, it’s really ridiculous.</p>
      </div>
    </div>
  </div>
</footer>