{% load static %}

<div class="row bg-purple infinite-item align-items-center justify-content-between p-4 mb-2">
  <div class="col-12 col-sm-8">
    <a href="{% url 'upvote:detail' submission.slug %}">
      <h1 id="user-submission">{{ submission.word }}</h1>
    </a>
    <h5 id="user-name">{{ submission.name }}</h5>
  </div>
  <div class="col-6 col-sm-2 logo-base">
    <form id="vote" action="{% url 'upvote:vote' submission.slug %}" method="post">
      {% csrf_token %}
      <button type="submit" class="vote-btn">
        <img src="{% static 'upvote/images/unbanking_icon_heart.png' %}" class="logo img-fluid  mx-auto pb-2"/>
      </button>
    </form>
    <h3 class="entry-subtext">{{ submission.vote_set.count }}</h3>
  </div>
  <div class="col-6 col-sm-2 logo-base dropdown">
    <div id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="text-center">
      <img src="{% static 'upvote/images/unbanking_icon_share.png' %}" class="logo img-fluid  mx-auto pb-2"/>
      <div class=" mx-auto">
        <h3 class="entry-subtext">SHARE</h3>
      </div>
    </div>
    <div class="dropdown-menu" aria-labelledby="dLabel">
        <a class="dropdown-item"
            href="https://twitter.com/share?url=http%3A%2F%2Funbanking.ca{% url 'upvote:detail' submission.slug %}&hashtags=thisisridiculous,unbanking&related=wearecumark&text={{ submission.word|upper|urlencode }} would make a great new term for 'banking'. Vote to get it to the top!"
        >Twitter</a>
        <a class="dropdown-item" href="https://www.facebook.com/dialog/share?app_id=248598508986158&display=popup&href=http%3A%2F%2Funbanking.ca{% url 'upvote:detail' submission.slug %}&hashtag=unbanking&redirect_uri=http%3A%2F%2Funbanking.ca{% url 'upvote:detail' submission.slug %}&quote={{ submission.word|upper|urlencode }} would make a great new term for 'banking'. Vote to get it to the top!">Facebook</a>
        <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Funbanking.ca{% url 'upvote:detail' submission.slug %}&title=VOTE%20NOW!&summary={{ submission.word|upper|urlencode }} would make a great new term for 'banking'. Vote to get it to the top!&source=Unbanking">Linkedin</a>
    </div>
  </div>
</div>